.app-wrapper {
  grid-template-areas:
    'h h'
    'n c';

  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 13fr;
  grid-gap: 7px;
  background-color: #d5d4d4;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 7px;
  margin-right: 7px;
  height: 100%;
}